<h1>Sign Up for Amusement Park</h1>

<%= form_for @user, html: {class: "form"} do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.label "Height (in inches)" %>
    <%= f.text_field :height %>
  </div>
  <div class="form-group">
    <%= f.label "How happy are you? (1-5 scale)" %>
    <%= f.text_field :happiness %>
  </div>
  <div class="form-group">
    <%= f.label "How nauseous are you? (1-5 scale)" %>
    <%= f.text_field :nausea %>
  </div>
  <div class="form-group">
    <%= f.label "How many dollars are in your pocket?" %>
    <%= f.text_field :tickets %>
  </div>
<!-- object_name.check_box(method, options = {}, checked_value = "1", unchecked_value = "0") -->
  <%= f.label "Check box if you are a theme park owner" %>:
  <%= f.check_box(:admin, :value => :admin) %><br><br>

  <%= f.label :password %>:<br>
  <%= f.password_field :password %><br><br>

  <%= f.submit "Create User" %>
<% end %>
