<% if current_user.is_admin? %>
  <% @attractions.each do |attraction| %>
    <li><%= link_to "Show #{attraction.name}", attraction_path(attraction) %></li>
  <% end %>
  <br>
  <%= link_to "New Attraction", new_attraction_path %>
<% else %>
  <table>
    <tr>
      <th>Name</th>
      <th>Tickets    </th>
      <th>Min. Height    </th>
      <th>Go On Ride</th>
    </tr>
    <% @attractions.each do |attraction| %>
      <tr>
        <td><%= attraction.name %></td>
        <td><%= attraction.tickets %></td>
        <td><%= attraction.min_height %></td>
        <td><%= link_to "Go on #{attraction.name}", attraction_path(attraction) %></td>
      </tr>
    <% end %>
  </table>

<ul>
  <% @attractions.each do |attraction| %>
    <li>
      <%= attraction.name %> - Tickets: <%= attraction.tickets %> - Min. Height: <%= attraction.min_height %>
      <ul>
        <li>
          <%= link_to "Go on #{attraction.name}", attraction_path(attraction) %>
        </li>
      </ul>
    </li>
  <% end %>
</ul>
<% end %>
